@import url( 'https://fonts.googleapis.com/css2?family-Poppins:wght@200;300;400;500;600;700&dispaly=swap');

*{
    margin:0px;
    font-family:'Poppins', sans-serif;
   
}
body{
    background: rgb(245, 160, 241)
    
}
.qb{
font-size: 55px;
font-style: italic;}

.title{
    font-size: 100%;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.buttons{
    text-align: center;
    border-radius: 10px;
    padding: 50px;  

}
.btn1{
    text-align: center;
    border-radius: 5px;

}

.quit{
    background: red;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    border: none;
}
.btn2{
    border-radius: 5px;
    padding: 15px;
    background: rgb(247, 11, 11);
    font-size: 18px;
    border: none;
}
.infor{
    text-align: center; 
   font-weight: lighter;
}
ul li{
    list-style: none;
}

div.submit{
    text-align: center;
}

button.submit{
    background: red;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    border: none;
}
.q1{
   
    font-style: oblique;
    font-weight: 500px;
    font-size: 15px;
    font-display: 22px;
}
.options{
    background: red;
    border-radius: 5px;
    padding: 15px;
    font-weight: 500;
    font-size: 15px;
    border: none;
}

.feedback {
    font-style: italic;
    font-size: large;
    padding: 10px
}
div.feedback{
    text-align: center;
}
